.css-hip9hq-MuiPaper-root-MuiAppBar-root, .css-10ghrmp-MuiPaper-root-MuiAppBar-root{
  background:#2f2651 !important ;
}
.css-m9glnp-MuiPaper-root-MuiDialog-paper{
  background:#321d6a !important ;
  color: white !important;
}
.css-1d6y1ul-MuiCardContent-root:last-child{
  padding-bottom: 0px !important;
}
.active{
  border: 6px solid rgb(128, 229, 128) !important;
}